
$color-white: #FFF;
$color-white-light-smoke: #FAFAFA;
$color-white-smoke: #f4f4f4;

$color-black: #000000;
$color-light-black: #333;
$color-gray: #555;
$color-light-gray: #ccc;

$color-red: #d63031;
$color-green: #00a98f;

$color-light-orange: #f69646;
$color-orange:  #f58426;
$color-dark-orange:  #cf6d17;


.color-white {
    color: $color-white;
}

$screen-tiny:  480px;
$screen-small:  576px;
$screen-medium: 768px;
$screen-large: 1023px; 


$small-font-size: 100%;
 